@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  @layer base {
    body {
      @apply bg-primary text-lighted leading-relaxed
    }
    span {
      position: relative;
    }
    .under-line::after {
      content: '';
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 60px;
      height: 7px;
      background-color: #122a2c;
      border-radius: 10px;

    }
  }